@import url('../colors.css');

* {
  box-sizing: border-box;
}

nav > ul.nav-chips { 
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    list-style: none;
    padding: 0rem;
    margin: 0;
}

nav > ul.nav-chips > li {
    margin: 0;
    padding: 0;
}

.nav-chip {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.9rem;
    font-weight: 200;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}

.nav-chip svg {
    width: 18px !important;
    height: 18px !important;
    margin-right: 0.5rem;
}

.nav-chip:hover {
    background-color: var(--primary-lighter);
    color: white
}

.nav-chip.active {
    background-color: var(--primary-color);
    color: white;
    border-color: white;
}

.nav-chip.active:hover {
    background-color: var(--primary-color);
    border-color: white;
    color: white;
}

#login-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}

#login-button svg {
    width: 18px !important;
    height: 18px !important;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

#login-button:hover {
    background-color: var(--primary-lighter);
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    font-family: 'Poppins', sans-serif;
}