nav > ul{ 
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    padding: 1rem;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}